.icons{
    font-size: 35px;
    transition:   transform 1s ease-in-out 3s;
}
.icons i{

    transition:   transform 3s ease-in-out .5s;
}
.icons i:hover{
    transform: rotate(360deg);
    background-color: yellow;
    color: green;
}
.list-s{
    list-style-type: none;
}
.hov{
    transition: 3s;
}
.hov:hover{
  transform: rotate(360deg) scale(.7)  ;
  background-color: aliceblue;
 
}
.top-section{
    background-color: rgba(194, 181, 164, 0.897);
}
.foot-1{
    background-color: rgb(36, 31, 31);
}